.color-green
{
    background-color: green;
}




p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



.btn0{
    background-color: #d26e8e;
  }
  
  
  .btn1{
    background-color: #3a5878;
  }