

	<!DOCTYPE HTML>
	<html>
	<head>
	<title>Meet your soulmate</title>
	
	<!-- Custom Theme files -->
	
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--webfont-->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	
			
	</head>
	<body>
	
		
			
			
	<div class="banner wow bounceInRight" data-wow-delay="0.4s">
		<div class="container"> 
		   <div class="banner_right">
			   <h2>Find a perfect date</h2>
			   <h1>Share your perfect moments </h1>
			   <ul class="button">
	
				 <li><a href="#" [routerLink]="['/Register']" class="btn1 btn2 btn-1 btn1-1b">Click to Get Started</a></li>
				
			   </ul>
		   </div>
		</div>
	</div>
	<div class="content_top">
	  <div class="container row">
		<div class="col-md-6 grid_1">
		  <h2>London Lovestory</h2>
		  <iframe width="" height="" src="//www.youtube.com/embed/6KkS2mQsmw8" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-6 wow fadeInRight">
				<div class="banner-info">
						<h3>Meet Jokoyoski Makanga</h3>
						<h4><span class="m_2">"</span> .Net Software Developer<span class="m_2"> "</span></h4>

						<h5><span class="m_2">"</span> Single to Stupour<span class="m_2"> "</span></h5>
						
						
				 </div>
		</div>
	  </div>
	</div>
	
	<div class="content_middle wow fadeInUp" data-wow-delay="0.4s">
		<div class="container row">
	
		   <div class="col-md-9 grid_2">
				 <h3>Start Dating Now !</h3>
				 <h4>Download our mobile apps and start dating right now.</h4>
				 <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.</p>
			  <ul class="apps wow fadeInLeft" data-wow-delay="0.4s">
				<li><a href="#"><i class="app"></i></a></li>
				<li><a href="#"><i class="google"></i></a></li>
			  </ul>
			   <h5>OR</h5>
			   <a href="#"  [routerLink]="['/Register']" class="btn3 btn-3 btn3-1b">Sign Up</a>
		   </div>
		   <div class="col-md-3 grid_3 wow fadeInRight" data-wow-delay="0.4s">
				  <span> </span>
		   </div>
		</div>
	</div>
	<div class="content_bottom">
		<div class="container">
	
		  <div class="row">
			<div class="col-md-4 wow fadeInLeft" data-wow-delay="0.4s">
			  <div class="grid_4"><a href="single.html">
				<h4><span class="m_3">Leonardo , </span> Manager-usa</h4>
				<img src="../../assets/web/images/pic1.jpg" class="img-responsive" alt=""/>
				<ul class="category_desc">
				   <li class="cate_head">Based in 1.100 votes</li>
				   <li class="cate_right">
						<ul class="list1">
						   <li><i class="heart"> </i></li>
						   <li><i class="heart"> </i></li>
						   <li><i class="heart"> </i></li>
						   <li><i class="heart"> </i></li>
						</ul>
				   </li>
				   <div class="clearfix"> </div>
				</ul>
				<h5>Member</h5>
			</a> </div>
			</div>
			<div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
			   <div class="grid_4"><a href="single.html">
				<h4><span class="m_3">luke ,</span>engineer-usa</h4>
				<img src="../../assets/web/images/pic2.jpg" class="img-responsive" alt=""/>
				<ul class="category_desc">
				   <li class="cate_head">Based in 956 votes</li>
				   <li class="cate_right">
						<ul class="list1">
						  <li><i class="heart"> </i></li>
						  <li><i class="heart"> </i></li>
						  <li><i class="heart"> </i></li>
						</ul>
				   </li>
				   <div class="clearfix"> </div>
				</ul>
				<h5>Member</h5>
			  </a></div>
			</div>
			<div class="col-md-4 wow fadeInRight" data-wow-delay="0.4s">
			  <div class="grid_4"><a href="single.html">
				<h4><span class="m_3">Jokoyoski ,</span>Software Developer-Nigeria</h4>
				<img src="http://res.cloudinary.com/jokoyoski/image/upload/v1561391201/dz8idd6czylpfa7zvbst.jpg" width="360px" height="260" class="img-responsive" alt=""/>
				<ul class="category_desc">
				   <li class="cate_head">Based in 900 votes</li>
				   <li class="cate_right">
						<ul class="list1">
						   <li><i class="heart"> </i></li>
						   <li><i class="heart"> </i></li>
						   <li><i class="heart"> </i></li>
						</ul>
				   </li>
				   <div class="clearfix"> </div>
				</ul>
				<h5>Member</h5>
			  </a></div>
			</div>
			<div class="clearfix"> </div>
		  </div>
		  <div class='span1'>
			  <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro1"}'>
				<option value="0">More Profiles</option>	
				<option value="1">Tincidunt</option>
				<option value="2">Magna</option>
				<option value="3">Lectores </option>
				<option value="4">Insitam</option>
				<option value="5">Claritatem </option>
				<option value="5"></option>
				<option value="5"></option>
			  </select>
		  </div>
		  <div class='clearfix'> </div>
		
	   </div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="cssmenu wow fadeInLeft" data-wow-delay="0.4s">
			  <ul>
				<li class="active"><a href="#">Home</a></li> 
				<li><a href="about.html">About</a></li>
				<li><a href="profiles.html">Add Profile</a></li>
				<li><a href="contact.html">Contact</a></li>
			  </ul>
			</div>
			<div class="copy wow fadeInUp" data-wow-delay="0.4s">
				<p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
			</div>
			<div class="social wow fadeInRight" data-wow-delay="0.4s"> 
				<ul class="footer_social">
				  <li><a href="#"> <i class="fb"> </i> </a></li>
				  <li><a href="#"> <i class="tw"> </i> </a></li>
			   </ul>
			</div>
			<div class='clearfix'> </div>
		</div>
	</div>
	</body>
	</html>		
